In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Beginner Big Data Project") \
    .getOrCreate()

spark

In [2]:
# 10 lakh rows (large data) create
df = spark.range(1, 1000000)

df.show(5)

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
+---+
only showing top 5 rows

In [3]:
df.count()

999999

In [4]:
df2 = df.withColumn("category", df.id % 10)
df2.show(5)

+---+--------+
| id|category|
+---+--------+
|  1|       1|
|  2|       2|
|  3|       3|
|  4|       4|
|  5|       5|
+---+--------+
only showing top 5 rows

In [5]:
df2.groupBy("category").count().show()

+--------+------+
|category| count|
+--------+------+
|       0| 99999|
|       7|100000|
|       6|100000|
|       9|100000|
|       5|100000|
|       1|100000|
|       3|100000|
|       8|100000|
|       2|100000|
|       4|100000|
+--------+------+

In [6]:
%time df2.groupBy("category").count().collect()

CPU times: total: 46.9 ms
Wall time: 660 ms

[Row(category=0, count=99999),
 Row(category=7, count=100000),
 Row(category=6, count=100000),
 Row(category=9, count=100000),
 Row(category=5, count=100000),
 Row(category=1, count=100000),
 Row(category=3, count=100000),
 Row(category=8, count=100000),
 Row(category=2, count=100000),
 Row(category=4, count=100000)]

## Big Data Analysis using PySpark
   This project demonstrates scalability using PySpark.
   --Dataset size : ~1 million rows
   --Tool used: Apache Spark(PySpark)
   --Operations performed: 
       -- Data creation
       -- Transformation
       -- GroupBy aggregation
   ### Insight
   PySpark efficiently pricessed large data on a local machine,showing its capabiity for big data analytics.
   ## GroupBy Result
   This cell shows the count of ecords for each category.
   We used Spark DataFrame groupBy() and count() to aggregate the data.
   Each category has approximately 1000000 records.